html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #030C22, #20293F);
  color: #e9f0f9;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin: 0 0 0.2em;
}

h1 {
  font-size: 32px;
}

p {
  margin: 0 0 0.33em;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #609ff9;
  text-decoration: none;
}

.intro-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 20px;
}

.intro {
  max-width: 50%;
}

.intro p {
  font-size: 24px;
  font-weight: 300;
}

.contact {
  font-size: 13px;
  font-weight: 400;
  list-style: none;
}

.contact > li {
  display: inline;
  margin-right: 12px;
}

@media (max-width: 640px) {
  .intro {
    max-width: inherit;
  }
}
